[Unit]
Description=Bitwarden Attachments Container
Wants=bitwarden-mssql.container
After=bitwarden-mssql.container

[Container]
Image=ghcr.io/bitwarden/attachments:latest
AutoUpdate=registry
ContainerName=bitwarden-attachments

HostName=attachments

Volume=/home/bitwarden/bwdata/core/attachments:/etc/bitwarden/core/attachments

EnvironmentFile=/home/bitwarden/bwdata/docker/global.env
EnvironmentFile=/home/bitwarden/bwdata/env/uid.env

Network=bitwarden